.slick-prev{
   
    // position: relative !important;
    left: -10px !important;
    z-index: 1000 !important;
    width: 44px !important;
    height: 48px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    
    &:hover{
        background: #e6e6e6 !important;
    }

}

.slick-prev:before, .slick-next:before{
    font-family: FontAweSome !important;
    color: rgb(152, 142, 142) !important;
}

.slick-next{
    
    right: -5px !important;
    width: 44px !important;
    height: 48px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    
    &:hover{
        background: #e6e6e6 !important;
    }
}

.slick-disabled{
    display: none !important;
}


 .section-share{

        &.section-specialty{
            background: #f5f5f5
        }

        &.section-outstanding-doctor{
            background: #f5f5f5
        }

        &.section-about{
            height: 500px;
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
        }
    .section-body{
            
        .section-customize{

            .bg-image{
                height: 150px;
                width: 290px;
                background-position: center center    ;
                background-repeat: no-repeat   ;
                background-size: cover ;
                background-color: #eee;

                &.section-specialty{
                    // background-image: url("../../assets/specialty/co-xuong-khop.jpg");
                }
                &.section-medical-facility{
                    // background-image: url("../../assets/medical-facility/benh-vien-an-viet.jpg") ;
                    // width: 290px;
                    // height: 90px;
               
                }
                &.section-outstanding-doctor{
                    // background-image: url("../../assets/outstanding-doctor/anh-dai-dien-bs.jpg") ;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
                &.section-handbook{
                    background-image: url("../../assets/handbook/goi-cham-soc-suc-khoa-tai-nha.jpg");
                    
                }
            }
        }
    }

}




.section-share{
    height: 330px;

    .section-container{
        // height: 100%;
        margin: 0 100px;
        // border: 1px solid orangered;

        .section-header{
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section{
                font-size: 22px;
                font-weight: 600;

            }
            .btn-section{
                float: right;
                padding: 10px 20px;
                border: none;
                outline: none;
                display: block;
                border-radius: 3px;
                background:  #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover{
                    background-color: rgb(236, 113, 6);
                    color: white;

                }
            }
        }

        
    }
}

.section-outstanding-doctor{
    .section-customize{
        padding: 10px;
        .customize-border{
            border: 1px solid rgb(211, 211, 211);
            padding: 20px;
          
            .outer-bg{
                display: flex;
                justify-content: center;
                margin-bottom: 10px;

            }
        }
    }
   
       
       
    
    
}

.home-footer{
    text-align: center;
    padding-top: 10px;

    a{
        text-decoration: unset;
    }
    
    
}

.section-about{
    padding: 0 100px;
    .section-about-header{
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }
    .section-about-content{
        display: flex;
        gap: 10px;
        width: 100%;

        .content-left{
            width: 60%;
        }
        .content-right{
            width: 40%;
           

            p{
                font-style: italic;
                text-align: justify;
                padding: 10px;
            }
          

        }
    }
}


